.about {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
	}
}

.about-title {
	display: flex;
	justify-content: center;
	span {
		&::before {
			bottom: -25px;
			@media (max-width:$tablet){
				bottom: -20px;
			}
			@media (max-width:$tabletSmall){
				bottom: -15px;
			}
		}
	}
}

.body-about {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 50%;
	margin: 100px auto 0;
	column-gap: 50px;
	@media (max-width:$main){
		max-width: 70%; 
	}
	@media (max-width:$tablet){
		max-width: 90%;
		column-gap: 30px;
		margin: 70px auto 0;
	}
	@media (max-width:$tabletSmall){
		max-width: 100%;
		margin: 50px auto 0;
	}
	@media (max-width:$mobile){
		column-gap: 15px; 
	}
	&__col {
		flex: 0 0 50%;
	}
	&__title {
		font-family: 'Open Sans';
		font-size: 30px;
		font-weight: 700;
		color: #fff;
		line-height: 1.2;
		text-align: right;
		letter-spacing: 1px;
		@media (max-width:$tabletSmall){
			font-size: 24px;
		}
		@media (max-width:$mobile){
			font-size: 20px; 
		}
	}
	&__paragraph {
		font-family: 'Open Sans';
		font-size: 16px;
		color: $slate;
		line-height: 1.4;
		letter-spacing: 1px;
		@media (max-width:$tabletSmall){
			font-size: 14px;
		}
		@media (max-width:$mobile){
			font-size: 12px; 
		}
		&:not(:last-child) {
			margin-bottom: 15px;	
			@media (max-width:$tabletSmall){
				margin-bottom: 10px;
			}
		}
		button {
			font-family: 'Open Sans';
			cursor: pointer;
			color: $green;
			transition: 0.2s linear;
			@media (any-hover: hover) {
				&:hover{
					text-shadow: 0 0 10px $green;
				}
			}
			&:active, &:focus {
				text-shadow: 0 0 10px $green;
			}
		}
	}
}