.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;
	padding: 20px 0;
	transition: 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0s !important;
	background-color: $navy;
	&__container {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		max-width: 100%;
		width: 100%;
		padding: 0 80px;
		@media (max-width:$tabletSmall){
			padding: 0 20px;
		}
	}
}

.nav-header {
	&__list {
		display: flex;
		align-items: center;
		column-gap: 30px;
		@media (max-width:$mobile){
			column-gap: 20px; 
		}
	}
	&__link {
		color: $slate;
		font-size: 16px;
		transition: 0.2s linear;
		@media (max-width:$mobile){
			font-size: 14px; 
		}
		@media (any-hover: hover){
			&:hover{
				color: $green;
				text-shadow: 0 0 10px $green;
			}
		}
	}
}

.socials-header {
	&__list {
		display: flex;
		align-items: center;
		column-gap: 30px;
		@media (max-width:$mobile){
			column-gap: 20px; 
		}
	}
	&__link {
		display: inline-block;
		max-width: 20px;
		width: 100%;
		@media (max-width:$mobile){
			max-width: 15px; 
		}
		svg {
			width: 100%;
			transition: 0.2s linear;
			@media (any-hover: hover) {
				&:hover{
					stroke: $green;
				}
			}
		}
		&--cv {
			color: transparent;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 1px;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: $slate;
			transition: 0.2s linear;
			@media (max-width:$mobile){
				font-size: 14px; 
			}
			@media (any-hover: hover){
				&:hover{
					-webkit-text-stroke-color: $green;
				}
			}
		}
	}
}