.intro {
	position: relative;
	&__container {
		min-height: 100vh;
		padding-left: 80px;
		padding-top: 70px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		@media (max-width:$tabletSmall){
			padding-left: 20px;
		}
	}
	&__subtitle {
		font-family: MonumentExtended;
		font-size: 30px;
		color: $green;
		letter-spacing: 1px;
		font-weight: 400;
		opacity: 0.9;
		position: relative;
		margin-bottom: 50px;
		@media (max-width:$pc){
			font-size: 20px;
			margin-bottom: 30px; 
		}
		@media (max-width:$tabletSmall){
			font-size: 18px;
			margin-bottom: 20px;
		}
		@media (max-width:$mobile){
			font-size: 16px; 
			line-height: 1.4;
		}
	}
	&__button {
		span {
			padding: 20px 60px;
			@media (max-width:$pc){
				padding: 15px 45px; 
			}
			@media (max-width:$tabletSmall){
				padding: 10px 35px;
			}
		}
	}
}

.title-intro {
	font-size: 120px;
	margin-bottom: 50px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	@media (max-width:$pc){
		font-size: 70px; 
		margin-bottom: 30px;
	}
	@media (max-width:$tabletSmall){
		font-size: 55px;
		margin-bottom: 20px;
	}
	@media (max-width:$mobile){
		font-size: 40px; 
	}
	@media (max-width:$mobileSmall){
		font-size: 34px; 
	}
}

#bg-24 {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	mix-blend-mode: multiply;
	filter: grayscale(100%) contrast(0.6) brightness(100%);
	&::before{
		content:'';
		position: absolute;
		display: block;
		left: 0;
		mix-blend-mode: screen;
		top: 0;
		width: 100%;
		height: 100%;
		background: $navy;
	}
}

.scroll-intro {
	margin-top: 70px;
	width: 15px;
	cursor: pointer;
	outline-color: $green;
	opacity: 0;
	animation: fadeIn 3s linear  1s forwards;
	@media (max-width:$pc){
		margin-top: 30px;
	}
	@media (max-width:$tabletSmall){
		margin-top: 20px;
		width: 12px;
	}
	&__icon {
		transform: rotate(180deg);
		animation: scrollAnimation 3s ease-in-out infinite;
		pointer-events: none;
		path {
			fill: $green;
		}
	}
	&__arrow {
		padding-top: 25px;
		pointer-events: none;
		path {
			fill: $green;
		}
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes scrollAnimation {
	0% {
		opacity: 1;
		transform: rotate(180deg) translateY(0);
	}
	50% {
		opacity: 0;
		transform: rotate(180deg) translateY(-20px);
	}
	75% {
		opacity: 0;
		transform: rotate(180deg) translateY(-10px);
	}
	100% {
		opacity: 1;
		transform: rotate(180deg) translateY(0px);
	}
}
