@use "sass:math";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "UniviaPro";
$fontSize: 14px;

// Основные цвета
$slate: #b6bfda;
$navy: #0a192f;
$navyLight: #112240;
$green: #64ffda;
$greenTint: rgba(100,255,218,0.1);
$blue: #57cbff;
$turquoise: #08fdd8;

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320px;
// Ширина полотна (макета)
$maxWidth: 1920px;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1800px;
// Общий отступ у контейнера
$containerPadding: 40px;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer;

// Брейк-поинты
$main: $maxWidthContainer;
$pc: 1430px;
$tablet: 1270px;
$tabletSmall: 1023px;
$mobile: 767px;
$mobileSmall: 374px;

.container {
	width: $maxWidthContainer;
	padding: 0 math.div($containerPadding, 2);
	margin: 0 auto;
	@media (max-width: $main) {
		width: 1324px;
	}
	@media (max-width: $pc) {
		width: 1276px;
	}
	@media (max-width: $tablet) {
		width: 1007px;
	}
	@media (max-width: $tabletSmall) {
		width: 100%;
	}
}


// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================

// Обнуление
@import "null";
@import "common";

// Подключение стилей отдельных блоков
@import "scrollbar";
@import "header";
@import "intro";
@import "about";
@import "skills";
@import "projects";
@import '../../node_modules/swiper/swiper.scss';
@import '../../node_modules/aos/dist/aos.css';